@media screen and (max-width: 768px) {
    .hero-image{
        width: 100%;
        height: 20em;
        object-fit: cover;
    }
    .product-image{
        position: absolute;
        top: 4em;
        left: 2.5em;
        height: 8em;
    }
    .plus{
        font-size: 5.5em;
        position: absolute;
        top: 0.8em;
        right: 45%;
    }
    .product-image-free{
        position: absolute;
        top: 4em;
        right: 2.5em;
        height: 8em;
    }
    .ribbon{
        width: 6em;
        
        background-color: #FC5130;
        position: absolute;
        top: 5em;
        right: 1.5em;
        text-align: center;
        padding:0.2em;
        font-weight: bold;
        text-transform: uppercase;
        vertical-align: middle;
        transform: rotate(45deg);
    }

    header h2{
        letter-spacing: 0.2em;
    }

    .discount{
        height: 5.5em;
        width: 5.5em;
        bottom: 1em;
        right: 1em;
    }
    .information{
        clip-path: polygon(17% 0%, 100% 0, 100% 100%, 0 100%, 0 10%);
        -moz-clip-path: polygon(17% 0%, 100% 0, 100% 100%, 0 100%, 0 10%);
        -webkit-clip-path: polygon(17% 0%, 100% 0, 100% 100%, 0 100%, 0 10%);
    }
    .offer{
        padding:0.3em;
        padding-bottom: 0;
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr 5fr 0.5fr;
        
        clip-path: polygon(100% 0, 100% 100%, 20% 100%, 0 88%, 0 0);
        -moz-clip-path: polygon(100% 0, 100% 100%, 20% 100%, 0 88%, 0 0);
        -webkit-clip-path: polygon(100% 0, 100% 100%, 20% 100%, 0 88%, 0 0);
    }
    .discount h4{
        font-size: 2em;
    }

    .face-image{
        width: 12em;
        height: 12em;
    }
    .message{
        font-size: 1.1em;
        width: 80%;
        display: block;
        margin: auto;
    }

    .product-img{
        height: 8em;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .ribbon2{
        left: 12em;
        top : 1em;
    }
    .twin-products{
        align-content: space-around;
        margin-top:2em;
    }
    .plus2{
        top: 1em;
    
    }
    
    .product-img-free{
        height: 8em;
        position: absolute;
        top: 0em;
        left:9em;
    }
    .off{
        font-size: 1.5em;
        margin: 0.5em;
    }
    .off2{
        font-size: 1.3em;
    }

    .off3{
        padding-top: 0.5em;
        font-size: 1.2em;
        text-align: center;
    }
    .contact-form{
        width: 80%;
        height: 24em;
    }
    .contact-form form{
        margin-top: 1em;
    }
    .contact-form input{
        width: 100%;
    }
    ::placeholder{
        font-size: 0.95em;
    }

    .timer h4{
        font-size: 1.9em;
    }

    footer{
        height: 17em;
    }

    footer h2{
        font-size: 3em;
    }

    .timer{
        width: 100%;
    }
    .timer p{
        font-size: 1em;
    }
    .price{
        width: 60%;
    }
    .price h2{
        font-size: 2em;
    }
  }